.flex {
  display: flex !important;
}
.flex-col {
  flex-direction: column;
}
.j-center {
  justify-content: center;
}
.a-center {
  align-items: center;
}
.j-bt {
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}
.no-select {
  user-select: none;
}